springbootBasics/src/main/resources/employee.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
          <!-- XML Schema Generated from XML Document on Wed Sep 12 2018 22:56:08 GMT-0400 (Eastern Daylight Time) -->
          <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
       <xs:element name="Employee">
              <xs:complexType>
                     <xs:sequence>
                            <xs:element name="empId" type="xs:int"></xs:element>
                            <xs:element name="empName" type="xs:string"></xs:element>
                            <xs:element name="dept" type="xs:string"></xs:element>
                            <xs:element name="locaion" type="xs:string"></xs:element>
                        </xs:sequence>
                 </xs:complexType>
          </xs:element>
   </xs:schema>